* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 100px;
}

main {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
}

.new-products {
	color: aquamarine;
}

.my-list {
	padding-top: 30px;
}

h1 {
	font-size: 70px;
	margin-bottom: 20px;
}


button {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	color: #fff;
	border: none;
	border-radius: 5px;
	background-color: #1b4ba6;
	position: relative;
	overflow: hidden;
	margin-bottom: 10px; /* Oddziel przyciski od siebie */
  }
  
  button::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300%;
	height: 300%;
	background: linear-gradient(
	  to right,
	  rgba(51, 5, 218, 0.956) 0%,
	  rgba(201, 201, 201, 0.336) 50%,
	  rgba(180, 5, 5, 0.805) 100%
	);
	border-radius: 50%;
	z-index: 2;
	opacity: 0;
	transition: opacity 0.5s;
	transform: translate(-50%, -50%);
  }
  
  button:hover::before {
	opacity: 1;
  }
  
  button:hover {
	color: #000; /* Zmiana koloru tekstu na czarny po najechaniu myszką */
  }
  
  button#clear-btn {
	background-color: tomato; /* Zmiana koloru przycisku "Wyczyść dane" na tomato */
  }
  